.container{
    /* background-color: lightslategray; */
    background-image: url("../img/background.jpg");
    margin-top:30px;
}


ol li{
    background-color: aquamarine;
    margin:5px;   
}

.btnDevour {
    justify-self: center;
} 
img{
    margin:10px;
}
h1{
    color:darkorange;
}

h2{
    color:darkmagenta;
    font-size:24px;
}

.modal-content{
    background-color:darkolivegreen;
    color:white;
}

.modal-header{
    background-color: rgb(236, 238, 113);
    color:purple;
}

.modal-footer{
    background-color:lightskyblue;
}