.container{
    background-color: lightslategray;
    margin-top:30px;
}

.ordered{
    display:flex;
}
ol li{
    background-color: aquamarine;
    margin:10px;   
    /* width:30px; */
}

.ordered button {
    float:right;
}

img{
    margin:10px;
}
h1{
    color:darkorange;
}

h2{
    color:darkmagenta;
}