
{{#unless devoured}}
<div class="row">
	<div class="col-4"> 		
     	<li >	
			{{~burger_name~}}				
		</li>
	</div>	
    <div class="col-4">		
		<button class="btn btn-info btnDevour" data-id="{{this.id}}">DEVOUR IT!</button>
	</div>	
</div>	
	
{{/unless}}
